<!doctype html>
<html lang="en">
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=0"/> <!--320-->
    <meta charset="utf-8">
    <title>{{name}}</title>
      <meta name="description" content="{{description}}">
      <meta name="author" content="{{author}}">
    <link rel="stylesheet" href="style/app.css">
  </head>
  <body>
    <div id="nav">
    </div>
    <div id="content" class="container">
    </div>
    <script src="js/{{name}}.{{version}}.min.js"></script>
  </body>
</html>
